@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }

    body {
       align-items: center;
        
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;        
    }
    
    .mensagem {
        top: 50vh;
        left: 90px;
        padding: 20px;
        position: absolute;
        border: 3px solid #44ff4a; /* Borda de 2px na cor verde */
        border-radius: 30px; /* Borda arredondada */
        background-color: rgba(0, 133, 18, 0.356);
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 600;
    }

    .containerImagem{
        position: relative;
    }
    
    .imagem{
        /* max-width: 100%; */
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .galeria{
        align-items: center;
        justify-content: center;
    }

    .mensagem1{
        top: 690px;
        left: 30px;
        padding: 20px;
        position: fixed;
        border: 2px solid #44ff4a; /* Borda de 2px na cor verde */
        border-radius: 30px; /* Borda arredondada */
        background-color: #44ff4a;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;

    }
    
    button {
        transition: 0.3s;
    }

   